.projects-box {
  display: flex;
  flex-wrap: wrap;
  width: 100vw;
  height: 90vh;
}

@media (max-height: 730px) {
  .projects-box {
    height: fit-content;
  }
}

.project-card {
  padding: 0.5vw;
  margin: 2rem;
  flex-wrap: wrap;
  border: transparent;
  box-shadow: 0 1px 10px 1px gray;
  border-radius: 1vw;
  width: 20rem;
  min-width: 20rem;
  height: fit-content;
  transition: 0.2s;
}

.project-card:hover {
  transition: 0.2s;
  scale: 1.05;
}

.project-card h2 {
  padding: 2rem;
  padding-bottom: 0;
}

.project-card p {
  padding: 2rem;
}

.project-card a {
  padding: 1rem;
  font-weight: bolder;
}

.project-links {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

@media (max-width: 380px) {
  .project-card {
    margin: 3vw;
  }
}

@media (max-width: 330px) {
  .project-card {
    min-width: auto;
    width: auto;
  }
  .project-card h2 {
    font-size: 1.5rem;
  }
}

@media (max-width: 260px) {
  .project-card h2 {
    font-size: 8vw;
  }
  .project-card p,
  .project-card a {
    font-size: 6vw;
    padding: 3vw;
  }
}

@media (max-width: 100px) {
  .projects-box {
    width: auto;
    height: auto;
  }
  .projects-card {
    width: auto;
  }
}
